<div class="content-wrapper" id="onepage">
    <style type="text/css">
        .banner {
            background: url(./assets/images/backgrounds/3e4fa4893beba2fe888962cf7aefc486.jpg) no-repeat top center;
            background-size: cover;
        }
    </style>
    <section class="section1_story2 section-top banner section">
        <div class="text-w-story">
            <h2 class="title-main white">Huyền thoại Purita bắt đầu...<br />
                <div class="bottle"><img src="./assets/images/backgrounds/c7e5829a83ca3147061e30116292b7fe.png" alt=""></div>
                <div class="mouse"><img src="./assets/images/backgrounds/af8b61a7949c2e5d10286f93bb42c550.png" alt=""></div>
                <p>
                    Cuộn xuống để khám phá câu chuyện
                </p>
            </h2>
        </div>
    </section>
    <!-- end-section -->
    <section class="section2_story2 section">
        <div class="text-w-story blue">
            <h2 class="title-main">Từ giữa những tầng mây</h2><br />
            <h3 class="text-bt">nơi hơi nước bốc lên và ngưng tụ</h3>
        </div>
    </section>
    <!-- <div class="clear"></div> -->
    <!-- end-section -->
    <section class="section3_story2 section">
        <div class="text-w-story white">
            <h2 class="title-main">Rơi xuống theo những cơn mưa</h2><br />
            <h3 class="text-bt">tại tuy phong mỗi năm</h3>
            <div class="btn-primary"><a href="#popup-story-7611" rel="leanModal">Xem thêm</a></div>
        </div>
    </section>
    <section class="section4_story2 section">
        <div class="text-w-story white">
            <h2 class="title-main">Thẩm thấu qua 3 lớp địa tầng...</h2><br />
            <h3 class="text-bt">Với độ sâu 50m dưới lòng đất</h3>
            <div class="btn-primary"><a href="#popup-story-7612" rel="leanModal">Xem thêm</a></div>
        </div>
    </section>
    <section class="section5_story2 section">
        <div class="text-w-story white">
            <h2 class="title-main">Tạo nên kiệt tác của thiên nhiên</h2><br />
            <h3 class="text-bt">Nguồn nước quí giá giàu Bicarbonate</h3>
            <div class="btn-primary"><a href="#popup-story-7613" rel="leanModal">Xem thêm</a></div>
        </div>
    </section>
    <!--<div class="clear"></div>-->
    <!-- end-section -->
    <section class="section6_story2 section fp-auto-height">
        <div class="container">
            <div class="slider-product-listing" id="slider1_product">
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/backgrounds/df8a7d055ea649c95090638cc3e29140.png" alt="">
                    </div>
                    <div class="des">
                        Nước uống đóng chai chứa khoáng thiên nhiên Purita không ga </div>
                    <h3 class="name-2">Purita - Bình Vòi</h3>
                </div>
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/backgrounds/b4f8f1f394802c9b52d19d3fea1905bb.png" alt="">
                    </div>
                    <div class="des">
                        Nước uống đóng chai chứa khoáng thiên nhiên Purita không ga </div>
                    <h3 class="name-2">Nước khoáng không ga tự nhiên</h3>
                </div>
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/backgrounds/8a8b0c22dac89cbe942c4f6840c29806.png" alt="">
                    </div>
                    <div class="des">
                        Nước uống đóng chai Vihawa </div>
                    <h3 class="name-2">Vihawa - Bình Vòi</h3>
                </div>
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/backgrounds/ed3ca881b4b406e91a6fd2184f81ce32.png" alt="">
                    </div>
                    <div class="des">
                        Nước giải khát chứa khoáng thiên nhiên có ga - Lemona khoáng chanh </div>
                    <h3 class="name-2">Lemona khoáng chanh</h3>
                </div>
            </div>
        </div>
        <div class="viewmore-box">
            <p>Xem thêm</p>
            <a href="san-pham">tất cả sản phẩm purita</a>
        </div>
        <div class="title-opacity">Untouched water</div>
    </section>
    <!-- <div class="clear"></div> -->
    <!-- end -->


    <div class="paging-step paging-onepage" id="menu-paging-onepage">
        <div class="li active" data-menuanchor="section1" data-id="1"><a href="javascript:void(0)"><span>1</span></a>
        </div>
        <div class="li" data-menuanchor="section2" data-id="2"><a href="javascript:void(0)"><span>2</span></a>
        </div>
        <div class="li" data-menuanchor="section3" data-id="3"><a href="javascript:void(0)"><span>3</span></a>
        </div>
        <div class="li" data-menuanchor="section4" data-id="4"><a href="javascript:void(0)"><span>4</span></a>
        </div>
        <div class="li" data-menuanchor="section5" data-id="5"><a href="javascript:void(0)"><span>5</span></a>
        </div>
        <div class="li" data-menuanchor="section6" data-id="6"><a href="javascript:void(0)"><span>6</span></a>
        </div>
        <div class="line-active"></div>
    </div>
    <footer class="section fp-auto-height" style="padding:0px 0 30px 0;">
        <div class="container">
            <div class="copyright col-sm-4 col-xs-12">
                <span>©2017 Bản quyền của Masan Consumer</span>
            </div>
            <div class="logo-ft col-sm-4 hidden-xs">
                <!-- <img src="img/logo_ft.png" alt=""> -->
            </div>
            <div class="social col-sm-4 col-xs-12">
                <span>Theo dõi chúng tôi tại</span>
                <!--<a href="#"><i class="i-pic"></i></a>-->
                <a href="https://www.facebook.com/nuockhoangquyvinhhao/" target="_blank"><i class="i-fb"></i></a>
            </div>
        </div>
    </footer>
</div>
<div class="popup-w" id="popup-story-7611" style="height: 300px;">
    <div class="content-w">
        <a href="javascript:void(0)" class="modal_close">
            <div class="btn-close">
                <div class="o-grid__item">
                    <button class="c-hamburger c-hamburger--htx is-active">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
        </a>
        <div class="content">
            Những giọt mưa tinh khiết rơi xuống vùng núi cao hoang sơ, nơi mặt đất chưa bị ô nhiễm, rồi len vào
            những kẻ đá, bắt đầu hành trình xuyên qua “bộ lọc tự nhiên” trước khi tập trung tại đích đến 2000m
            sâu dưới lòng đất – mạch nước ngầm Purita. </div>
    </div>
</div>
<div class="popup-w" id="popup-story-7612">
    <div class="content-w">
        <a href="javascript:void(0)" class="modal_close">
            <div class="btn-close">
                <div class="o-grid__item">
                    <button class="c-hamburger c-hamburger--htx is-active">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
        </a>
        <div class="content">
            Một cách chậm rãi, những giọt nước từ từ đi qua Bộ lọc tự nhiên bao gồm 3 tầng đá tổ ong – đất sét
            nứt – cát trắng, vừa được lọc sạch tạp chất, vừa “ngậm” theo Kali, Natri, Canxi, Magie và đặc biệt
            là Bicarbonate với một tỉ lệ cân bằng, rất tốt cho cơ thể con người. Bộ lọc này tạo ra loại nước
            khoáng cân bằng và an toàn đến mức có thể uống trực tiếp tại nguồn ngay khi vừa khai thác lên chứ
            không cần qua xử lý như một số loại nước khoáng khác. </div>
    </div>
</div>
<div class="popup-w" id="popup-story-7613">
    <div class="content-w">
        <a href="javascript:void(0)" class="modal_close">
            <div class="btn-close">
                <div class="o-grid__item">
                    <button class="c-hamburger c-hamburger--htx is-active">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
        </a>
        <div class="content">
            Để giữ nguyên sự tinh khiết của nước khoáng Purita, hệ thống khai thác được đặt ngay tại khu vực
            này, đảm bảo nước vừa đưa lên mặt đất sẽ chạy qua hệ thống phân tích, giảm bớt hàm lượng khoáng chất
            tuỳ mục đích sử dụng và đóng chai ngay lập tức, không có sự can thiệp đáng kể nào của bàn tay con
            người.<br><br>
            Nguồn nước mưa tinh khiết. Bộ lọc tự nhiên an toàn. Đóng chai ngay tại nguồn. Một quy trình tự nhiên
            khép kín, lý giải cho sự tinh khiết và chất lượng không thay đổi suốt 80 năm qua của nước khoáng
            Purita. </div>
    </div>
</div>
<!-- global scripts -->

<div class="backtotop">
    <i class="fa fa-caret-up" aria-hidden="true"></i>
</div>