<div class="content-wrapper">
    <section class="section1_prolist section-top">
        <div class="container">
            <h2 class="title-main">Nước khoáng không ga tự nhiên</h2>
            <div class="slider-product-listing" id="slider1_product">
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/products/bottle-350ml.png" alt=""
                            style="padding-top:47px">
                    </div>
                    <div class="des">
                        Nước uống đóng chai chứa khoáng thiên nhiên Purita không ga </div>
                    <p class="ml">350ml</p>
                </div>
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/products/bottle-400ml.png" alt="">
                    </div>
                    <div class="des">
                        Nước uống đóng chai chứa khoáng thiên nhiên Purita không ga </div>
                    <p class="ml">400ml</p>
                </div>
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/products/bottle-500ml.png" alt="">
                    </div>
                    <div class="des">
                        Nước uống đóng chai chứa khoáng thiên nhiên Purita không ga </div>
                    <p class="ml">500ml</p>
                </div>
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/products/bottle-1.5l.png" alt="">
                    </div>
                    <div class="des">
                        Nước uống đóng chai chứa khoáng thiên nhiên Purita không ga </div>
                    <p class="ml">1.5l</p>
                </div>
            </div>
        </div>
        <div class="title-opacity">Untouched water</div>
    </section>
    <div class="clear"></div>
    <section class="section2_prolist ">
        <div class="container">
            <h2 class="title-main">Bình 20 lít</h2>
            <div class="slider-product-listing" id="slider2_product">
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/backgrounds/df8a7d055ea649c95090638cc3e29140.png" alt="">
                    </div>
                    <div class="des-bt">
                        Nước uống đóng chai chứa khoáng thiên nhiên Purita không ga </div>
                    <p class="ml">20l</p>
                    <h3 class="name">Purita - Bình Vòi</h3>
                    <div class="btn-primary btn-callwater"><a href="tel:02743818288">Gọi nước</a></div>
                </div>
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/backgrounds/18d62b09c8ff06b9a0d2d4ead88075e1.png" alt="">
                    </div>
                    <div class="des-bt">
                        Nước uống đóng chai chứa khoáng thiên nhiên Purita không ga </div>
                    <p class="ml">20l</p>
                    <h3 class="name">Purita - Bình Úp</h3>
                    <div class="btn-primary btn-callwater"><a href="tel:02743818288">Gọi nước</a></div>
                </div>
            </div>
        </div>
        <div class="title-opacity">Purified water</div>
    </section>
    <div class="clear"></div>    
    <app-gallery></app-gallery>
</div>