<div class="content-wrapper">
    <section class="section1_home">
        <div class="slider-home">

            <div class="item slide--has-caption">
                <img src="./assets/images/backgrounds/background-1.jpg" alt="">
                <div class="slide-caption  ">
                    <h3 class="title-1">quyền năng của khoáng</h3>
                    <h4 class="title-2">cho sức khỏe và vẻ đẹp</h4>
                    <div class="text hidden-xs">
                        Từ rất lâu người Pháp đã biết rằng nước khoáng chính là bí mật của sức khỏe và vẻ đẹp
                        tươi trẻ. Họ không ngừng tìm kiếm những nguồn khoáng tốt trên khắp thế giới. Và ngay
                        dưới dãy Trường Sơn, họ đã tìm thấy một nguồn khoáng được chứng nhận có chất lượng ngang
                        với nguồn khoáng Vichy của Pháp, đáp ứng tiêu chuẩn khắt khe của loại nước khoáng tốt mà
                        họ gọi tên là Vichy Đông Dương, đó chính là Purita.<br>
                        <br>
                        Với thành phần khoáng dịu nhẹ thanh khiết, Purita cho cơ thể luôn tươi trẻ rạng ngời từ
                        trong ra ngoài.
                    </div>
                    <div class="btn-primary"><a href="san-pham">Sản phẩm Purita</a></div>
                </div>
            </div>

            <div class="item slide--has-caption">
                <img src="./assets/images/backgrounds/background-2.jpg" alt="">
                <div class="slide-caption white color_menu">
                    <h3 class="title-1 white">quyền năng của khoáng</h3>
                    <h4 class="title-2 white">cho sức khỏe và vẻ đẹp</h4>
                    <div class="btn-primary" style="margin-top:25px;"><a href="san-pham">Sản phẩm Purita</a></div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <!-- end -->
    
    <section class="section2_home" style="display: none;">
        <div class="container">
            <div class="number col-md-2">
                loại khoáng giúp bạn đẹp hơn mỗi ngày </div>
            <div class="step-w col-md-9">
                <div class="slider-step">
                    <div class="slide">
                        <h3 class="name">Bicarbonate</h3>
                        <div class="caption">
                            <h4>HCO<sub>3</sub>-</h4>
                            <div class="text-w">
                                <div class="line"></div>
                                <div class="text">
                                    Giúp giảm độ acid trong dạ dày, tốt cho hệ tiêu hóa.  
                                </div>
                            </div>
                        </div>
                        <div class="box"></div>
                    </div>
                    <div class="slide">
                        <h3 class="name">Calcium</h3>
                        <div class="caption">
                            <h4>Ca<sup>(2+)</sup></h4>
                            <div class="text-w">
                                <div class="line"></div>
                                <div class="text">
                                    Giúp cho xương cứng chắc và cơ bắp khỏe mạnh. 
                                </div>
                            </div>
                        </div>
                        <div class="box"></div>
                    </div>
                    <div class="slide">
                        <h3 class="name">Magie</h3>
                        <div class="caption">
                            <h4>Mg<sup>(2+)</sup></h4>
                            <div class="text-w">
                                <div class="line"></div>
                                <div class="text">
                                    Có chức năng là chất xúc tác trong các phản ứng sinh hóa của cơ thể, góp
                                    phần làm giảm mệt mỏi và giải tỏa stress. 
                                </div>
                            </div>
                        </div>
                        <div class="box"></div>
                    </div>
                    <div class="slide">
                        <h3 class="name">Kali</h3>
                        <div class="caption">
                            <h4>K+</h4>
                            <div class="text-w">
                                <div class="line"></div>
                                <div class="text">
                                    Góp phần duy trì hoạt động của hệ thần kinh và giúp duy trì huyết áp ổn
                                    định. 
                                </div>
                            </div>
                        </div>
                        <div class="box"></div>
                    </div>
                    <div class="slide">
                        <h3 class="name">Natri</h3>
                        <div class="caption">
                            <h4>Na+</h4>
                            <div class="text-w">
                                <div class="line"></div>
                                <div class="text">
                                    Giúp cân bằng điện giải. Chất điện giải (bao gồm Bicarbonate, Clorua, Kali
                                    và Natri) giúp duy trì cân bằng acid-base và áp lực thẩm thấu của màng tế
                                    bào, ngăn ngừa mất nước bằng cách giúp các tế bào của cơ thể hấp thụ nước. 
                                </div>
                            </div>
                        </div>
                        <div class="box"></div>
                    </div>
                    <div class="slide">
                        <h3 class="name">Silicat</h3>
                        <div class="caption">
                            <h4>SiO<sub>3<sup>(2-)</sup></sub></h4>
                            <div class="text-w">
                                <div class="line"></div>
                                <div class="text">
                                    Là nhân tố quan trọng cho quá trình tổng hợp collagen, giúp giảm lão hoá và
                                    tăng độ đàn hồi của làn da. 
                                </div>
                            </div>
                        </div>
                        <div class="box"></div>
                    </div>
                    <div class="slide">
                        <h3 class="name">Floride</h3>
                        <div class="caption">
                            <h4>F-</h4>
                            <div class="text-w">
                                <div class="line"></div>
                                <div class="text">
                                    Góp phần duy trì khoáng hóa của răng. 
                                </div>
                            </div>
                        </div>
                        <div class="box"></div>
                    </div>
                </div>
            </div>

            <div class="paging-step">
                <div class="li active"><a href="javascript:void(0)"><span>1</span></a></div>
                <div class="li"><a href="javascript:void(0)"><span>2</span></a></div>
                <div class="li"><a href="javascript:void(0)"><span>3</span></a></div>
                <div class="li"><a href="javascript:void(0)"><span>4</span></a></div>
                <div class="li"><a href="javascript:void(0)"><span>5</span></a></div>
                <div class="li"><a href="javascript:void(0)"><span>6</span></a></div>
                <div class="li"><a href="javascript:void(0)"><span>7</span></a></div>
                <div class="line-active"></div>
            </div>
        </div>

        <div id="scene" class="water-parallax">
            <div class="layer layer1" data-depth="0.3"><img src="assets/images/water1.png"></div>
            <div class="layer layer2" data-depth="0.1"><img src="assets/images/water2.png"></div>
            <div class="layer layer3" data-depth="0.2"><img src="assets/images/water3.png"></div>
        </div>
    </section>
    <div class="clear"></div>

    <!-- end -->
    <section class="section3_home">
        <div class="container">
            <div class="slider-product-listing" id="slider1_product">
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/products/product-1.png" alt="">
                    </div>
                    <div class="des">Nước uống đóng bình chứa khoáng thiên nhiên không ga </div>
                    <h3 class="name-2">Purita - Bình Úp</h3>
                </div>
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/products/product-4.png" alt="">
                    </div>
                    <div class="des">Nước uống đóng chai chứa khoáng thiên nhiên không ga </div>
                    <h3 class="name-2">Nước khoáng không ga tự nhiên 1.5L</h3>
                </div>
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/products/product-3.png" alt="">
                    </div>
                    <div class="des">Nước uống đóng bình chứa khoáng thiên nhiên không ga </div>
                    <h3 class="name-2">Purita - Bình Vòi</h3>
                </div>
                <div class="item">
                    <div class="img-w">
                        <img src="./assets/images/products/product-2.png" alt="">
                    </div>
                    <div class="des">Nước uống đóng chai chứa khoáng thiên nhiên không ga </div>
                    <h3 class="name-2">Nước khoáng không ga tự nhiên 500ml</h3>
                </div>
            </div>
        </div>
        <div class="viewmore-box">
            <p>Xem thêm</p>
            <a href="san-pham">tất cả sản phẩm purita</a>
        </div>
        <div class="title-opacity">Untouched water</div>
    </section>

    <div class="clear"></div>
    <app-gallery></app-gallery>
</div>