<section class="gallery-productlisting">
    <div class="container">
        <div class="gallery-w hidden-xs">
            <div class="gallery">
                <div class="caption-box">
                    <div>
                        <span class="h-cap">Bí quyết quyền năng<br>của khoáng</span>
                    </div>
                </div>

                <div class="item p1">
                    <a href="#popup-benefit-7541" rel="leanModal"><img
                            src="./assets/images/backgrounds/932c0937aef48590520c3bb21468eb28.jpg" alt="">
                        <h4 class="h4-caption">VÌ SAO KHOÁNG CHẤT QUAN TRỌNG ĐỐI VỚI CƠ THỂ CỦA BẠN?</h4>
                    </a>
                </div>
                <div class="item p2">
                    <a href="#popup-benefit-7543" rel="leanModal"><img
                            src="./assets/images/backgrounds/85cc66b73e2a9d90606b3103cc90e6e3.jpg" alt="">
                        <h4 class="h4-caption">BỔ SUNG CANXI TỪ NƯỚC KHOÁNG</h4>
                    </a>
                </div>
                <div class="item p3">
                    <a href="#popup-benefit-7545" rel="leanModal"><img
                            src="./assets/images/backgrounds/5c90b478f7f1c4d91e83f94df71cc6cc.jpg" alt="">
                        <h4 class="h4-caption">NƯỚC ĐUN SÔI ĐỂ NGUỘI LIỆU CÓ AN TOÀN?</h4>
                    </a>
                </div>
                <div class="item p4">
                    <a href="#popup-benefit-7549" rel="leanModal"><img
                            src="./assets/images/backgrounds/532a7c8f33340da4cebb1004329f5677.jpg" alt="">
                        <h4 class="h4-caption">NÂNG NIU TRÁI TIM CỦA BẠN</h4>
                    </a>
                </div>
                <div class="item p5">
                    <a href="#popup-benefit-7547" rel="leanModal"><img
                            src="./assets/images/backgrounds/8dfb7ad17653a787c5cd45435b113a7c.jpg" alt="">
                        <h4 class="h4-caption">NGUỒN KHOÁNG NÀO TỐT NHẤT CHO SỨC KHỎE?</h4>
                    </a>
                </div>
                <div class="item p6">
                    <a href="#popup-benefit-7551" rel="leanModal"><img
                            src="./assets/images/backgrounds/556cdd1287d60b5fa2592ea48e416b9f.jpg" alt="">
                        <h4 class="h4-caption">3 BIỂU HIỆN BÊN NGOÀI KHI CƠ THỂ BẠN THIẾU KHOÁNG</h4>
                    </a>
                </div>
                <div class="item p7">
                    <a href="#popup-benefit-7555" rel="leanModal"><img
                            src="./assets/images/backgrounds/0b330692162b5e1c9019f22aafadb2f2.jpg" alt="">
                        <h4 class="h4-caption">7 LÍ DO BẠN NÊN UỐNG NƯỚC KHOÁNG MỖI NGÀY</h4>
                    </a>
                </div>
                <div class="item p9">
                    <a href="#popup-benefit-7553" rel="leanModal"><img
                            src="./assets/images/backgrounds/dba654f0db9461d084f03442579d1252.jpg" alt="">
                        <h4 class="h4-caption">KHOÁNG CHẤT BICARBONATE CÓ KHẢ NĂNG PHÒNG BỆNH UNG THƯ GAN?
                        </h4>
                    </a>
                </div>

            </div>
        </div>

        <!-- mobile -->
        <div class="gallery-mobile-w  hidden-sm hidden-md hidden-lg">
            <h2 class="title-main">Bí quyết quyền năng của khoáng</h2>
            <div class="gallery-mobile">
                <div class="item">
                    <a href="#popup-benefit-7541" rel="leanModal"><img
                            src="./assets/images/backgrounds/932c0937aef48590520c3bb21468eb28.jpg" alt="">
                        <h4 class="h4-caption">VÌ SAO KHOÁNG CHẤT QUAN TRỌNG ĐỐI VỚI CƠ THỂ CỦA BẠN?</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#popup-benefit-7543" rel="leanModal"><img
                            src="./assets/images/backgrounds/85cc66b73e2a9d90606b3103cc90e6e3.jpg" alt="">
                        <h4 class="h4-caption">BỔ SUNG CANXI TỪ NƯỚC KHOÁNG</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#popup-benefit-7545" rel="leanModal"><img
                            src="./assets/images/backgrounds/5c90b478f7f1c4d91e83f94df71cc6cc.jpg" alt="">
                        <h4 class="h4-caption">NƯỚC ĐUN SÔI ĐỂ NGUỘI LIỆU CÓ AN TOÀN?</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#popup-benefit-7549" rel="leanModal"><img
                            src="./assets/images/backgrounds/532a7c8f33340da4cebb1004329f5677.jpg" alt="">
                        <h4 class="h4-caption">NÂNG NIU TRÁI TIM CỦA BẠN</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#popup-benefit-7547" rel="leanModal"><img
                            src="./assets/images/backgrounds/8dfb7ad17653a787c5cd45435b113a7c.jpg" alt="">
                        <h4 class="h4-caption">NGUỒN KHOÁNG NÀO TỐT NHẤT CHO SỨC KHỎE?</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#popup-benefit-7551" rel="leanModal"><img
                            src="./assets/images/backgrounds/556cdd1287d60b5fa2592ea48e416b9f.jpg" alt="">
                        <h4 class="h4-caption">3 BIỂU HIỆN BÊN NGOÀI KHI CƠ THỂ BẠN THIẾU KHOÁNG</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#popup-benefit-7555" rel="leanModal"><img
                            src="./assets/images/backgrounds/0b330692162b5e1c9019f22aafadb2f2.jpg" alt="">
                        <h4 class="h4-caption">7 LÍ DO BẠN NÊN UỐNG NƯỚC KHOÁNG MỖI NGÀY</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#popup-benefit-7553" rel="leanModal"><img
                            src="./assets/images/backgrounds/dba654f0db9461d084f03442579d1252.jpg" alt="">
                        <h4 class="h4-caption">KHOÁNG CHẤT BICARBONATE CÓ KHẢ NĂNG PHÒNG BỆNH UNG THƯ GAN?
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="popup-w popup-benefit" id="popup-benefit-7541">
    <div class="content-w">
        <a href="javascript:void(0)" class="modal_close">
            <div class="btn-close">
                <div class="o-grid__item">
                    <button class="c-hamburger c-hamburger--htx is-active">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
        </a>
        <div class="content">
            Bạn có biết khoáng chất rất cần thiết cho các chức năng của cơ thể, từ đảm bảo chức năng của hệ
            thần kinh, tim mạch đến điều hòa tiêu hóa hấp thu chất dinh dưỡng...? Nên khi thiếu khoáng,
            ngoài một số biểu hiện như chóng mặt, mắt mờ, da khô,... bạn còn có thể mắc phải một vài bệnh
            liên quan tới hệ tuần hoàn và hệ thần kinh đấy! Bạn còn chần chừ gì mà chưa uống ngay một ly
            nước khoáng Purita để khỏe khoắn, tươi tắn suốt cả ngày dài!<br>
            <p class="hashtag">#nuockhoangquyvinhhao</p>
        </div>
    </div>
</div>
<div class="popup-w popup-benefit" id="popup-benefit-7543">
    <div class="content-w">
        <a href="javascript:void(0)" class="modal_close">
            <div class="btn-close">
                <div class="o-grid__item">
                    <button class="c-hamburger c-hamburger--htx is-active">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
        </a>
        <div class="content">
            Canxi là khoáng chất thiết yếu đối với mọi hoạt động của cơ thể. Khi thiếu canxi, bạn có thể mắc
            một số bệnh như loãng xương, mất ngủ hoặc chân tay tê đấy. Bên cạnh sữa và một số thực phẩm giàu
            canxi, uống nước khoáng Purita là một cách không chỉ giúp xương cứng, răng chắc và cơ bắp khỏe
            mà còn đem lại cho bạn giấc ngủ sâu để luôn khỏe khoắn, tươi tắn!<br />
            Thưởng thức ngay 1 ly nước khoáng Purita để sẵn sàng cho một ngày bận rộn bạn nhé!<br>
            <p class="hashtag">#nuocsuoipurita #nguongoccuasutinhkhiet</p>
        </div>
    </div>
</div>
<div class="popup-w popup-benefit" id="popup-benefit-7545">
    <div class="content-w">
        <a href="javascript:void(0)" class="modal_close">
            <div class="btn-close">
                <div class="o-grid__item">
                    <button class="c-hamburger c-hamburger--htx is-active">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
        </a>
        <div class="content">
            Thói quen uống nước đun sôi để nguội khá phổ biến trong nhiều gia đình hiện nay, nhưng liệu bạn
            có biết nếu sử dụng chưa đúng cách, sẽ có hại cho sức khỏe gia đình bạn?<br />
            &#43; Nước đun sôi để nguội có thể bị tái nhiễm khuẩn khi không bảo quản đúng cách<br />
            &#43; Nước đun sôi không loại bỏ được nitrate và các kim loại nặng trong nước - đây là những
            chất độc hại đối với cơ thể<br />
            &#43; Bình chứa cần vệ sinh sạch sẽ trước khi sử dụng để tránh bị nhiễm khuẩn<br />
            Thay vì uống nước tự đun, sao bạn không chọn nước khoáng Purita thật tiện lợi để luôn khỏe khoắn
            tươi tắn?<br>
            <p class="hashtag">#nuocsuoipurita #nguongoccuasutinhkhiet</p>
        </div>
    </div>
</div>
<div class="popup-w popup-benefit" id="popup-benefit-7549">
    <div class="content-w">
        <a href="javascript:void(0)" class="modal_close">
            <div class="btn-close">
                <div class="o-grid__item">
                    <button class="c-hamburger c-hamburger--htx is-active">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
        </a>
        <div class="content">
            Các cô gái có biết rằng thói quen ăn quà vặt chứa nhiều đường và dầu mỡ chính là mối đe đọa đối
            với tim mạch? Hãy xua tan nỗi lo với nước khoáng Purita chứa Kali giúp cân bằng điện giải, cân
            bằng acid và rất quan trọng đối với hoạt động hệ thống liên kết và cơ tim. Kali có vai trò góp
            phần vận chuyển các xung động thần kinh và duy trì huyết áp bình thường.<br />
            Chăm sóc sức khỏe cho chính mình và cho cả gia đình với nước khoáng Purita cũng là một cách để
            bạn thể hiện sự yêu thương đấy!<br>
            <p class="hashtag">#nuocsuoipurita #nguongoccuasutinhkhiet</p>
        </div>
    </div>
</div>
<div class="popup-w popup-benefit" id="popup-benefit-7547">
    <div class="content-w">
        <a href="javascript:void(0)" class="modal_close">
            <div class="btn-close">
                <div class="o-grid__item">
                    <button class="c-hamburger c-hamburger--htx is-active">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
        </a>
        <div class="content">
            Hiện nay trên khắp Việt Nam có đến hơn 400 nguồn khoáng. Đâu là sự khác biệt giữa các nguồn
            khoáng này? Nguồn khoáng nào tốt nhất cho sức khỏe? Hãy cùng Purita tìm hiểu về 3 nguồn khoáng
            lớn phổ biến nhé!<br />
            &#43; Nguồn khoáng Carbonic: thường xuất hiện theo những đứt gãy trong các thành tạo macma ở
            vùng hoạt động núi lửa trẻ. Nguồn khoáng này giàu khoáng chất, đặc biệt chứa hàm lượng
            Bicarbonate cao rất tốt cho sức khỏe.<br />
            &#43; Nguồn khoáng Silic: phân bố chủ yếu ở những miền uốn nếp với sự phân bố rộng rãi đá macma
            và biến chất với hàm lượng Silic cao.<br />
            &#43; Nguồn khoáng Sắt: phổ biến trong các tầng chứa nước trầm tích ở các đồng bằng Bắc Bộ, Nam
            Bộ và rải rác ở nhiều nơi khác với hàm lượng Sắt cao.<br />
            Theo bạn, Purita thuộc nguồn khoáng nào trong 3 nguồn khoáng kể trên?<br>
            <p class="hashtag">#nuocsuoipurita #nguongoccuasutinhkhiet</p>
        </div>
    </div>
</div>
<div class="popup-w popup-benefit" id="popup-benefit-7551">
    <div class="content-w">
        <a href="javascript:void(0)" class="modal_close">
            <div class="btn-close">
                <div class="o-grid__item">
                    <button class="c-hamburger c-hamburger--htx is-active">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
        </a>
        <div class="content">
            Gia tăng khả năng mắc các bệnh cảm cúm, nhiễm trùng do hệ miễn dịch suy yếu<br />
            Đau nhức bắp thịt, khớp xương<br />
            Rối loạn tiêu hóa như ợ chua, táo bón, buồn nôn<br />
            Cao huyết áp<br />
            Trầm cảm, lo âu<br />
            Nếu bạn đã từng gặp phải những biểu hiện như trên, có thể cơ thể của bạn đang thực sự &quot;khát
            khoáng&quot; đấy! Đừng quên uống nước khoáng Purita mỗi ngày để luôn khỏe khoắn tươi tắn bạn
            nhé!<br>
            <p class="hashtag">#nuocsuoipurita #nguongoccuasutinhkhiet</p>
        </div>
    </div>
</div>
<div class="popup-w popup-benefit" id="popup-benefit-7555">
    <div class="content-w">
        <a href="javascript:void(0)" class="modal_close">
            <div class="btn-close">
                <div class="o-grid__item">
                    <button class="c-hamburger c-hamburger--htx is-active">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
        </a>
        <div class="content">
            1. Hỗ trợ cung cấp canxi, chống loãng xương<br />
            2. Chữa chứng viêm loét dạ dày do thừa dịch vị<br />
            3. Phòng bệnh huyết áp<br />
            4. Da sáng đẹp, mịn màng<br />
            5. Giảm stress<br />
            6. Giảm cân, duy trì vóc dáng khỏe mạnh<br />
            7. Giúp tăng cường quá trình hấp thụ chất dinh dưỡng<br />
            Hãy kể tên các khoáng chất có trong Purita tương ứng với 7 lợi ích trên nhé!<br>
            <p class="hashtag">#nuocsuoipurita #nguongoccuasutinhkhiet</p>
        </div>
    </div>
</div>
<div class="popup-w popup-benefit" id="popup-benefit-7553">
    <div class="content-w">
        <a href="javascript:void(0)" class="modal_close">
            <div class="btn-close">
                <div class="o-grid__item">
                    <button class="c-hamburger c-hamburger--htx is-active">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
        </a>
        <div class="content">
            Uống nước khoáng Purita chứa hàm lượng Bicarbonate cao là một bí quyết đơn giản nhưng hiệu quả
            để bạn có thể hỗ trợ cho hệ tiêu hóa của mình một cách tốt nhất mỗi ngày!<br />
            Các cô gái hãy chọn lựa nước khoáng Purita để chăm sóc sức khỏe cho chính bản thân và cả ba mẹ
            của bạn nhé!<br>
            <p class="hashtag">#nuocsuoipurita #nguongoccuasutinhkhiet</p>
        </div>
    </div>
</div>