<div class="content-wrapper">
    <style type="text/css">
        .banner {
            background: url(./assets/images/backgrounds/4d6322187d4fab6abb510749897eb0ba.jpg) no-repeat top center;
            background-size: cover;
        }
    </style>
    <section class="section1_ab1 section-top banner ">
        <div class="text-w">
            <h2 class="title-center"><img src="./assets/images/backgrounds/25f061eb9f9aeaa9ca22207008e99bc7.png" alt=""></h2>
            <div class="caption">Nguồn khoáng danh tiếng từ năm 1928</div>
            <p class="des">Ngày 28 tháng 01 năm 1928, do đánh giá chất lượng nguồn suối khoáng này tốt sánh
                ngang với nước khoáng Vichy nổi tiếng thế giới của Pháp, Công ty Socíeté Civile D’Etudes Des
                Eaux Minérals De Vinh Hao bắt đầu khai thác và thương mại hóa.</p>
            <div class="btn-primary"><a href="gioi-thieu/lich-su-purita">Lịch sử Purita</a>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <div class="clear"></div>
    <!-- end-section1_ab1 -->
    <section class="section2_ab1">
        <div class="about box col-sm-6 col-xs-12">
            <div class="text">
                <h2 class="title">Về chúng tôi</h2>
                <p class="des">Năm 1928, các nhà khoa học Pháp đã phát hiện chất lượng tuyệt hảo của nguồn suối
                    khoáng Purita tại khu vực huyện Tuy Phong - tỉnh Bình Thuận. Từ đó, sản phẩm nước khoáng
                    Vichy – Purita đã ra đời và chiếm lĩnh thị phần lớn nhất tại thị trường Việt
                    Nam&nbsp;&nbsp;lúc bấy giờ. Không dừng ở đó, nước khoáng Purita còn xuất khẩu đi thị trường
                    các nước khó tính như Mỹ, Úc, Canada, Đài Loan,... và sớm khẳng định đẳng cấp Quốc tế của
                    mình.</p>
            </div>
        </div>
        <div class="awareness box col-sm-6 col-xs-12">
            <div class="text">
                <h2 class="title">Purita luôn nhận thức rằng phải cố gắng hơn nữa.</h2>
                <div class="btn-primary"><a href="gioi-thieu/lich-su-purita#phattrienbenvung">Phát triển bền
                        vững</a></div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <!-- end-section2_ab1 -->
    <section class="section3_ab1">
        <div class="container">
            <div class="title-w">
                <h2 class="title-main blue">Thành tựu</h2>
                <p class="des-main">Trải qua chặng đường hơn 80 năm, với những thành tích đã đạt được sẽ là tiền
                    đề cho Purita bước những bước tiếp theo trên chặng đường phát triển chung của nền kinh tế
                    đất nước, hội nhập với nền kinh tế thế giới để luôn khẳng định một giá trị “Purita - niềm tự
                    hào của nước khoáng Việt Nam”</p>
            </div>
            <div class="clear"></div>
            <div class="cer-block row">
                <div class="col-sm-6 col-xs-12">
                    <div class="slider1-ab1">
                        <div class="item">
                            <img src="./assets/images/backgrounds/47edb91554f51f7547537b639f3c34da.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/f1fdd94145f7bed81d899d72524947f8.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/92c69079284e983378c759bf20c33119.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/dd9307ac29ab4c59f0c055da28e98f24.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/ceabeb7ebc57312bd6400a795a00daf3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/b536249731d7e736a9c6f61b4c55486c.jpg" alt="" style="width:100px;">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/5925d7000f110a97c381e614481a4933.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/40427bf2f284caf386f9c52b51ff8576.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/ed0b54c425d67b32dcb442346b7c7aba.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/27ebca33ebad97f6fe724ba88b73166a.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/b53131753ad500041c7b3b944f673945.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/7f0a52380f9d9b18b478e1d297181fb3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/f8f6c369f933b1d5f20fc5b84a526d82.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/images/backgrounds/ec2f7ef7b64319994e14f3b2e59f293b.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!-- end-slider -->
                <div class="col-sm-6 col-xs-12">
                    <div class="caption-w">
                        <div class="caption cap-1 active">
                            <h3 class="title">THƯƠNG HIỆU NỔI TIẾNG VIỆT NAM</h3>
                            <div class="content">
                                Thương hiệu nổi tiếng Việt Nam là giải thưởng do Phòng Công nghiệp và Thương mại
                                Việt Nam (VCCI) phối hợp cùng Cty nghiên cứu thị trường thế giới Nielsen tổ
                                chức.<br>
                                <br>
                                Đây là chương trình duy nhất chỉ sử dụng "độ nhận biết và chất lượng nhận biết
                                của người tiêu dùng" để xác định chỉ số nổi tiếng của các thương hiệu từ đó đưa
                                ra bảng xếp hạng thương hiệu tại Việt Nam. Ý kiến đánh giá là sự “công nhận thật
                                100%” từ phía người tiêu dùng dành cho các doanh nghiệp. Công tác nghiên cứu tổ
                                chức khảo sát dựa trên tiêu chuẩn quốc tế về nghiên cứu thị trường.<br>
                                <br>
                                Năm 2008, Purita lại tiếp tục tự hào được người tiêu dùng bình chọn hai năm liên
                                tục là “Thương hiệu nổi tiếng tại Việt Nam”.<br>
                            </div>
                        </div>
                        <div class="caption cap-2 ">
                            <h3 class="title">CHỨNG NHẬN ĐĂNG KÝ CHẤT LƯỢNG HÀNG HÓA</h3>
                            <div class="content">
                                Để sản phẩm đến với người tiêu dùng có chất lượng tốt nhất, Purita đã đi đầu
                                trong việc xây dựng hệ thống quản lý chất lượng theo tiêu chuẩn quốc tế. Nước
                                khoáng Purita đã được đăng ký chất lượng sản phẩm với cơ quan Quản lý Dược phẩm
                                và Lương thực Hoa Kỳ (FDA), và đã được công nhận sản phẩm đạt tiêu chuẩn chất
                                lượng xuất khẩu sang Hoa Kỳ.<br>
                                <br>
                                Cùng với việc nâng cao chất lượng sản phẩm, trong những năm qua Purita không
                                ngừng nâng cao giá trị thương hiệu của mình. Minh chứng cho điều đó là các Giải
                                thưởng, Cúp, Bằng khen ,.... mà Purita đã được trao tặng như:<br>
                            </div>
                        </div>
                        <div class="caption cap-3 ">
                            <h3 class="title">GIẢI THƯỞNG CHẤT LƯỢNG VIỆT NAM NĂM 2008</h3>
                            <div class="content">
                                Đạt giải thưởng chất lượng Việt Nam do Bộ Khoa học công nghệ cấp vào ngày 17
                                /11/2008.<br>
                                <br>
                                Theo các quy định hiện hành, Giải thưởng chất lượng Việt Nam được xét tặng cho
                                những doanh nghiệp có thành tích nổi bật trong việc xây dựng và áp dụng các hệ
                                thống quản lý chất lượng theo 7 tiêu chí của GTCLVN.<br>
                            </div>
                        </div>
                        <div class="caption cap-4 ">
                            <h3 class="title">THƯƠNG HIỆU MẠNH VIỆT NAM</h3>
                            <div class="content">
                                Vào ngày 04/04/2010 vừa qua, Purita cùng 119 doanh nghiệp thành công năm 2009 đã
                                vinh dự nhận giải thưởng “Thương hiệu Mạnh Việt Nam 2009” được tổ chức tại Nhà
                                hát lớn – Thành phố Hà Nội.<br>
                                <br>
                                “Thương hiệu Mạnh Việt Nam” là chương trình thường niên do Thời báo Kinh tế Việt
                                Nam tổ chức, với sự phối hợp của Cục xúc tiến thương mại (Bộ Công Thương), đặc
                                biệt trao tặng cho các doanh nghiệp Việt Nam có thành tích xuất sẳc trong hoạt
                                động sản xuất kinh doanh và phát triển thương hiệu bền vững, nâng cao sức cạnh
                                tranh trong công cuộc hội nhập kinh tế quốc tế, góp phần xây dựng hình ảnh
                                Thươmg hiệu Quốc gia.<br>
                            </div>
                        </div>
                        <div class="caption cap-5 ">
                            <h3 class="title">GIẢI THƯỞNG MÓN NGON VIỆT NAM</h3>
                            <div class="content">
                                Ngày 19 tháng 4 năm 2010, tại khách sạn Sofitel, Tp. Hồ Chí Minh, sản phẩm nước
                                khoáng có ga Purita vinh dự là 1 trong 60 sản phẩm đã được bình chọn trong số
                                285 sản phẩm của 128 doanh nghiệp tham dự giải thưởng “Món ngon Việt Nam
                                2010”.<br>
                                <br>
                                Đây là giải thưởng được trao cho 60 sản phẩm thực phẩm của doanh nghiệp, nhà
                                hàng được người tiêu dùng bầu chọn nhiều nhất và được hội đồng thẩm định xác
                                nhận đạt tiêu chí của giải thưởng “Đạt chất lượng dinh dưỡng, an toàn vệ sinh
                                thực phẩm và ngon”.<br>
                            </div>
                        </div>
                        <div class="caption cap-6 ">
                            <h3 class="title">THƯƠNG HIỆU VÀNG – GOLDEN BRAND AWARDS</h3>
                            <div class="content">
                                Vào lúc 10 giờ 00 ngày 24 tháng 11 năm 2007, tại nhà Văn Hóa Học Sinh – Sinh
                                Viên tại Hà Nội, Purita đã vinh dự nhận giải thưởng “Thương Hiệu Vàng” - Golden
                                Brand Awards do Hiệp hội chống hàng giả &amp;amp; Bảo vệ thương hiệu Việt Nam
                                trao tặng.<br>
                                <br>
                                <br>
                                Giải thưởng này do Bộ Thương Mại bảo trợ, Cục xúc tiến thương mại (Viettrade),
                                Cục quản lý cạnh tranh khoa học kỹ thuật Việt Nam (Vusta), Hiệp hội chống hàng
                                giả &amp; Bảo vệ thương hiệu Việt Nam (Vatap) phối hợp tổ chức.&nbsp; <br>
                                <br>
                                Đây là giải thưởng uy tín nhằm tôn vinh những doanh nghiệp và bảo vệ thương hiệu
                                Việt Nam trong thời kỳ hội nhập, tôn vinh các thương hiệu có thành tích tốt
                                trong kinh doanh, chất lượng dịch vụ, sản phẩm, hỗ trợ cộng đồng và đóng góp
                                tích cực cho các hoạt động xã hội…
                            </div>
                        </div>
                        <div class="caption cap-7 ">
                            <h3 class="title">NHÃN HIỆU CẠNH TRANH – NỔI TIẾNG LẦN II</h3>
                            <div class="content">
                                Đêm 14-4-2007, tại Thủ đô Hà Nội đã diễn ra Lể trao Giải Thưởng “Nhãn hiệu cạnh
                                tranh - nổi tiếng lần II” do Hội Sở Hữu Trí Tuệ Việt Nam tổ chức (truyền hình
                                trực tiếp trên VTV3).&nbsp;
                                <br>
                                <br>
                                Thương hiệu nước khoáng Purita đã vinh dự đạt được giải thưởng cao quý này.
                                “Nhãn hiệu cạnh tranh – nổi tiếng lần II” được xét chọn dựa theo các tiêu chí
                                khắc khe của Luật Sở Hữu Trí Tuệ VN. Năm 2007, BTC trao Giải cho 49 Nhãn Hiệu
                                Nổi Tiếng &amp; 47 Nhãn Hiệu Cạnh Tranh trong tổng số hàng ngàn nhãn hiệu tham
                                gia trên toàn quốc. Một lần nữa thương hiệu Purita lại khẳng định vị trí &amp;
                                Thương Hiệu của mình trên thị trường.&nbsp;
                            </div>
                        </div>
                        <div class="caption cap-8 ">
                            <h3 class="title">CÚP VÀNG TOPTEN SẢN PHẨM THƯƠNG HIỆU VIỆT UY TÍN – CHÂT LƯỢNG</h3>
                            <div class="content">
                                Cúp vàng TopTen sản phẩm Thương hiệu Việt Uy tín - Chất lượng do Ban Tổ chức
                                chương trình bình chọn sản phẩm Thương hiệu Uy tín - Chất lượng trao tặng vào
                                ngày 02/01/2007
                            </div>
                        </div>
                        <div class="caption cap-9 ">
                            <h3 class="title">BẰNG KHEN CỦA ỦY BAN QUỐC GIA VỀ HỢP TÁC KINH TẾ QUỐC TẾ</h3>
                            <div class="content">
                                Đã có thành tích xuất sắc trong xây dựng, phát triển thương hiệu và tham gia hội
                                nhập kinh tế quốc tế
                            </div>
                        </div>
                        <div class="caption cap-10 ">
                            <h3 class="title">ISO 22000 : 2005</h3>
                            <div class="content">
                                Với chất lượng tuyệt hảo và đạt tiêu chuẩn vệ sinh an toàn thực phẩm. Năm 2000,
                                Purita là thương hiệu nước khoáng đầu tiên của Việt Nam được cấp giấy chứng nhận
                                ISO 9002:1994, năm 2006 đạt ISO 9001:2000 và đầu quý I năm 2008, Công ty đã tiếp
                                tục cải tiến hệ thống quản lý an toàn thực phẩm theo tiêu chuẩn ISO 22000:2005,
                                đây là hệ thống quản lý cao nhất trong ngành thực phẩm.
                            </div>
                        </div>
                        <div class="caption cap-11 ">
                            <h3 class="title">HÀNG VIỆT NAM CHẤT LƯỢNG CAO</h3>
                            <div class="content">
                                Hàng Việt Nam chất lượng cao đã trở thành “Nhãn hiệu chứng nhận” theo Luật Sở
                                hữu trí tuệ mới. Logo Hàng Việt Nam chất lượng cao là một dấu hiệu nhận biết
                                chất lượng sản phẩm được chứng nhận bởi cơ quan quản lý Nhà nước.<br>
                                <br>
                                Năm 2010, Purita lại tiếp tục tự hào nằm trong 54 trong số 766 doanh nghiệp đã
                                có thành tích liên tục 14 năm liền đạt danh hiệu “Hàng Việt Nam Chất Lượng Cao”
                                (1997 – 2010) do người tiêu dùng báo Sài Gòn Tiếp Thị bình chọn.<br>
                            </div>
                        </div>
                        <div class="caption cap-12 ">
                            <h3 class="title">SAO VÀNG ĐẤT VIỆT</h3>
                            <div class="content">
                                Giải thưởng Sao Vàng Đất Việt là giải thưởng uy tín dành cho các thương hiệu
                                hàng đầu Việt Nam do Thủ tướng Chính phủ giao cho Trung ương Hội liên hiệp Thanh
                                niên Việt Nam phối hợp với Trung ương Hội các nhà doanh nghiệp trẻ Việt Nam tổ
                                chức.<br>
                                <br>
                                Đây là giải thưởng uy tín nhất trong cộng đồng doanh nghiệp Việt Nam nhằm tôn
                                vinh các thương hiệu hàng đầu của Việt Nam đã có những đóng góp nhất định vào sự
                                phát triển kinh tế - xã hội của đất nước. Là năm thứ 4 liên tiếp vinh dự đạt
                                giải thưởng Sao Vàng Đất Việt (2004 – 2010), thành tích này đã một lần nữa tiếp
                                tục khẳng định uy tín và hình ảnh của thương hiệu Purita trong con mắt của các
                                nhà đầu tư cũng như các đối tác trong nước và quốc tế.<br>
                            </div>
                        </div>
                        <div class="caption cap-13 ">
                            <h3 class="title">GIẢI VÀNG THƯƠNG HIỆU AN TOÀN VỆ SINH THỰC PHẨM</h3>
                            <div class="content">
                                Năm 2009, Purita đã vinh dự trở thành một trong 78 doanh nghiệp đạt “Giải vàng
                                thương hiệu vệ sinh an toàn thực phẩm” do Cục An toàn vệ sinh thực phẩm - Bộ Y
                                Tế - kết hợp với Trung tâm tư vấn phát triển thương hiệu và chất lượng TPHCM
                                trao tặng. Chương trình xét trao tặng Giải vàng thương hiệu chất lượng vệ sinh
                                an toàn thực phẩm này là tiền đề chuẩn bị cho việc triển khai tháng hành động
                                “Vì chất lượng vệ sinh an toàn thực phẩm” năm 2009 của Bộ Y Tế vừa được diễn ra
                                vào ngày 11/04/2009 vừa qua
                            </div>
                        </div>
                        <div class="caption cap-14 ">
                            <h3 class="title">NƯỚC KHOÁNG ĐẦU TIÊN TẠI VIỆT NAM</h3>
                            <div class="content">
                                Nước khoáng Purita được vinh dự xác lập là “Nhãn hiệu nước khoáng đầu tiên tại
                                Việt Nam” do Trung tâm sách kỷ lục Việt Nam (VietBook) cấp chứng nhận
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="viewmore-box">
                <h5 class="h5">Nước khoáng Purita có giá trị đặc biệt không chỉ ở Việt Nam mà còn là mỏ khoáng
                    quí hiếm của vùng Đông Nam Á</h5>
                <p>Xem thêm</p>
                <a href="san-pham">tất cả sản phẩm purita</a>
            </div>
        </div>
    </section>
    <!-- end-section2_ab1 -->
</div>