<div class="content-wrapper">
    <section class="section1_newsdetail section-top">
        <div class="container">
            <div class="text-w">
                <h2 class="title-main">100 cặp vé tới Blue Christmas Prom 2016 từ Purita</h2>
                <div class="date"><span>24/12/2016</span></div>
            </div>
            <div class="content-w">
                <div class="thumnail">
                    <img src="./assets/images/backgrounds/b30d80b70e04173035eb70cc9e33d953.jpg" alt="">
                </div>
                <div class="content">
                    <div class="detail">
                        100 phần quà là 100 cặp vé từ nước khoáng quý Purita đang chờ đợi các bạn tại BLUE
                        CHRISTMAS PROM 2016. <br>
                        Các ngôi sao ca nhạc hàng đầu như Ngô Kiến Huy, Miu Lê, Thái Trinh v.v. sẽ tụ hội
                        tại đại nhạc hội cực kì hoành tráng này nhé !
                        Cách thức tham gia rất đơn giản, các bạn chỉ cần tag 3 người bạn vào Fanpage
                        Vĩnh Hảo sẽ được nhận quà ngay và luôn.<br>
                        - Vé được thể hiện dưới dạng COD (hình đính kèm)<br>
                        - Các bạn chỉ cần chụp hình vé COD này và mang theo check in tại quầy soát
                        vé để được tham dự. <br>
                        *** Địa điểm: sân khấu Lan Anh (291 Cách Mạng Tháng Tám - Phường 12 - Quận 10 -
                        HCM).<br>
                        *** Thời gian: 19:00 ngày 24/12/2016. <br>
                        *** Thời hạn: trước 12:00 ngày 24/12/2016<br>
                        Nhanh tay nào các bạn ơi !!!
                    </div>
                    <div class="share">
                        <p>Chia sẻ bài viết</p>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.purita.com.vn/tin-tuc-su-kien/100-cap-ve"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share on Facebook">
                            <img src="./assets/images/banners/share_fb.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <!-- end-section -->
    <section class="section2_news">
        <div class="container">
            <h3 class="title">Bài viết cùng chủ đề</h3>
            <div class="article-relate article-w">
                <div class="col-md-4 col-sm-6 item">
                    <a href="tin-tuc-su-kien/100-cap-ve">
                        <img class="cover" src="./assets/images/backgrounds/946a65e6744c3ad1194b09f6dd91bcf0.jpg" alt=""></a>

                    <div class="wrap-content">
                        <a class="name"
                            href="tin-tuc-su-kien/100-cap-ve">Tham
                            gia Music show Galaxy J7 Prime nhận quà từ nước khoáng quý Purita</a>
                        <div class="date">24/09/2016</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <a href="tin-tuc-su-kien/100-cap-ve">
                        <img class="cover" src="./assets/images/backgrounds/b30d80b70e04173035eb70cc9e33d953.jpg" alt=""></a>

                    <div class="wrap-content">
                        <a class="name" href="tin-tuc-su-kien/100-cap-ve">Purita
                            hân hạnh là nước khoáng của Hoa Hậu Việt Nam</a>
                        <div class="date">15/09/2016</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <a href="tin-tuc-su-kien/100-cap-ve">
                        <img class="cover" src="./assets/images/backgrounds/b30d80b70e04173035eb70cc9e33d953.jpg" alt=""></a>

                    <div class="wrap-content">
                        <a class="name" href="tin-tuc-su-kien/100-cap-ve">Purita
                            hân hạnh là nước khoáng của Hoa Hậu Việt Nam</a>
                        <div class="date">15/09/2016</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <a href="tin-tuc-su-kien/100-cap-ve">
                        <img class="cover" src="./assets/images/backgrounds/b30d80b70e04173035eb70cc9e33d953.jpg" alt=""></a>

                    <div class="wrap-content">
                        <a class="name" href="tin-tuc-su-kien/100-cap-ve">Purita
                            hân hạnh là nước khoáng của Hoa Hậu Việt Nam</a>
                        <div class="date">15/09/2016</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
</div>