<div class="content-wrapper">
    <section class="section1_newsdetail section-top">
        <div class="container">
            <div class="text-w">
                <h2 class="title-main">Purita tài trợ cho hội thi toàn dân rèn luyện thân thể Tp. Thủ Dầu Một</h2>
                <div class="date"><span>29/04/2012</span></div>
            </div>
            <div class="content-w">
                <div class="thumnail">
                    <img src="./assets/images/news/nha-tai-tro-viet-da/IMG_0617.JPG" alt="">
                </div>
                <div class="content">
                    <div class="detail">
                        <img src="./assets/images/news/nha-tai-tro-viet-da/IMG_0609.JPG" alt="">
                        <img src="./assets/images/news/nha-tai-tro-viet-da/IMG_0611.JPG" alt="">
                        <img src="./assets/images/news/nha-tai-tro-viet-da/IMG_0612.JPG" alt="">
                        <img src="./assets/images/news/nha-tai-tro-viet-da/IMG_0628.JPG" alt="">
                        <img src="./assets/images/news/nha-tai-tro-viet-da/IMG_0632.JPG" alt="">
                        <img src="./assets/images/news/nha-tai-tro-viet-da/IMG_0634.JPG" alt="">
                    </div>
                    <div class="share">
                        <p>Chia sẻ bài viết</p>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.purita.vn/tin-tuc-su-kien/purita-tai-tro-cho-hoi-thi-ren-luyen-than-the-tp-thu-dau-mot"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            target="_blank" title="Share on Facebook">
                            <img src="./assets/images/banners/share_fb.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <!-- end-section -->
    <section class="section2_news">
        <div class="container">
            <h3 class="title">Bài viết cùng chủ đề</h3>
            <div class="article-relate article-w">
                <div class="col-md-4 col-sm-6 item">
                    <a href="tin-tuc-su-kien/100-cap-ve">
                        <img class="cover" src="./assets/images/backgrounds/946a65e6744c3ad1194b09f6dd91bcf0.jpg" alt=""></a>

                    <div class="wrap-content">
                        <a class="name"
                            href="tin-tuc-su-kien/100-cap-ve">Tham
                            gia Music show Galaxy J7 Prime nhận quà từ nước khoáng quý Purita</a>
                        <div class="date">24/09/2016</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <a href="tin-tuc-su-kien/100-cap-ve">
                        <img class="cover" src="./assets/images/backgrounds/b30d80b70e04173035eb70cc9e33d953.jpg" alt=""></a>

                    <div class="wrap-content">
                        <a class="name" href="tin-tuc-su-kien/100-cap-ve">Purita
                            hân hạnh là nước khoáng của Hoa Hậu Việt Nam</a>
                        <div class="date">15/09/2016</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <a href="tin-tuc-su-kien/100-cap-ve">
                        <img class="cover" src="./assets/images/backgrounds/b30d80b70e04173035eb70cc9e33d953.jpg" alt=""></a>

                    <div class="wrap-content">
                        <a class="name" href="tin-tuc-su-kien/100-cap-ve">Purita
                            hân hạnh là nước khoáng của Hoa Hậu Việt Nam</a>
                        <div class="date">15/09/2016</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <a href="tin-tuc-su-kien/100-cap-ve">
                        <img class="cover" src="./assets/images/backgrounds/b30d80b70e04173035eb70cc9e33d953.jpg" alt=""></a>

                    <div class="wrap-content">
                        <a class="name" href="tin-tuc-su-kien/100-cap-ve">Purita
                            hân hạnh là nước khoáng của Hoa Hậu Việt Nam</a>
                        <div class="date">15/09/2016</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
</div>