<div class="content-wrapper story1">
    <style type="text/css">
        .banner {
            background: url(./assets/images/backgrounds/c40af19b9f4a24420a1133b386c1e011.jpg) no-repeat top center;
            background-size: cover;
        }
    </style>
    <section class="section1_story1 section-top banner ">
        <div class="text-w">
            <h2 class="title-main">Truyền thuyết<br>
                suối nguồn tươi trẻ</h2>
            <h4 class="t-small">đã có từ ngàn xưa</h4>
            <div class="text">
                Tương truyền, Huyền Trân Công Chúa trong một chuyến đi ngao du sơn thủy vùng đồi núi, tình cờ
                dừng chân bên dòng suối nóng đang phun trào, trong vắt yên ả, và chính nàng đặt tên cho dòng
                suối là VĨNH HẢO…
            </div>
            <div class="btn-w">
                <p>Xem thêm về truyền thuyết</p>
                <a href="javascript:void(0)" class="btn-circle"><i></i></a>
            </div>
        </div>
    </section>
    <div class="clear"></div> <!-- end-section1_news -->
    <section class="section2_story1">
        <div class="top"></div>
        <div class="middle">
            <div class="container">
                <div class="text-w">
                    <div class="btn-w">
                        <a href="javascript:void(0)" class="btn-circle circle-close"><i></i></a>
                    </div>
                    <div class="text">
                        Từ ngàn xưa, nước suối nóng EAMU được xem như Nước Thánh và chỉ được dùng trong những
                        cuộc tế lễ thần linh và trị bệnh. Đến đầu thế kỷ XIV, tương truyền, Huyền Trân Công Chúa
                        được vua cha Trần Nhân Tôn gả cho vua Chiêm Thành là Chế Mân, trong một chuyến đi ngao
                        du sơn thủy vùng đồi núi, tình cờ dừng chân bên dòng suối nóng đang phun trào, trong vắt
                        yên ả, và chính nàng đặt tên cho dòng suối là VĨNH HẢO với mong muốn mối bang giao giữa
                        hai nước Việt - Chiêm đời đời vững bền và tốt đẹp. Các đời vua triều Nguyễn sau này cũng
                        đã cho xây nhà tại khu vực nguồn suối để nghỉ ngơi và dưỡng bệnh.<br><br>

                        Năm 1928, người Pháp phát hiện chất lượng tuyệt hảo của nguồn suối khoáng VĨNH HẢO. Từ
                        đó, Vichy Việt Nam ra đời.<br><br>

                        Ngày nay, sản phẩm Purita có mặt khắp nơi, mang lại sức khỏe và làn da tươi trẻ cho mọi
                        người. </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <div class="text-w">
                    <h2 class="title-main white">Kiệt tác tinh tuý<br>đến từ thiên nhiên</h2>
                    <h4 class="t-small">Với chất lượng không đổi từ năm 1928</h4>
                    <div class="btn-w">
                        <div class="btn-primary"><a href="cau-chuyen-purita/nang-tam-thuong-hieu-viet">Khám phá
                                thêm</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
</div>