.search-mobile-ios {
  transform: translate(0, -120px) !important;
  -webkit-transform: translate(0, -120px) !important;
  -moz-transform: translate(0, -120px) !important;
  -o-transform: translate(0, -120px) !important;
}

.caption h2.title-article {
  box-sizing: border-box;
  min-height: 35px;
}