<div class="content-wrapper">
    <style type="text/css">
        .banner {
            background: url(./assets/images/backgrounds//1b2c1715cbad4394d1c1b291f2e6fc3c.jpg) no-repeat top center;
            background-size: cover;
        }
    </style>
    <section class="section1_ab2 section-top banner ">
        <div class="text-w">
            <h2 class="title-main white">Vĩnh hảo - 80 năm<br>hình thành và phát triển</h2>
        </div>
    </section>
    <div class="clear"></div> <!-- end -->
    <section class="section2_ab2">
        <div class="container">
            <div class="text-w">
                <h2 class="title-main blue">Lịch sử hình thành</h2>
                <div class="des-main">
                    <p>Tháng 8 năm 1909, một thương gia tên Bùi Huy Tín, tình cờ phát hiện lại nguồn suối khoáng
                        nóng của Purita.</p>
                    <p>Ngày 28 tháng 01 năm 1928, do đánh giá chất lượng nguồn suối khoáng này tốt sánh ngang
                        với nước khoáng Vichy nổi tiếng thế giới của Pháp, Công ty Socíeté Civile D'Etudes Des
                        Eaux Minérals De Vinh Hao bắt đầu khai thác và thương mại hóa. </p>
                </div>
            </div>
            <div class="box-w">
                <div class="btn-center"></div>
                <div class="box-inner gallery">
                    <div class="item img-box1"><img src="./assets/images/backgrounds//65cf07bd8e893b59ae196115cf584806.jpg" alt=""
                            class="img-responsive"></div>
                    <div class="item info-box1 info-box">
                        <h3 class="title">Nước suối Purita được tung ra ngoài thị trường.</h3>
                        <p class="ct">Tháng 10 năm 1930, Purita sản xuất với công suất 3.000 lít/giờ. Đây là lần
                            đầu tiên Việt Nam có sản phẩm nước khoáng mang tên Vichy - Purita, đã chiếm lĩnh thị
                            phần lớn nhất tại thị trường Việt Nam lúc bấy giờ.</p>
                    </div>
                    <div class="item img-box2"><img src="./assets/images/backgrounds//ab9ccb5c9469061777aeb0193d0e9c21.jpg" alt=""
                            class="img-responsive"></div>
                    <div class="item img-box3"><img src="./assets/images/backgrounds//0054ac23e28bcedeff629a2c87d660c0.jpg" alt=""
                            class="img-responsive"></div>
                    <div class="item info-box2 info-box">
                        <h3 class="title">Xuất khẩu Purita đi các nước.</h3>
                        <p class="ct">Không dừng lại ở đó, Purita lại tiếp tục vươn ra các nước Đông Dương và
                            xuất khẩu đi thị trường các nước khó tính như Mỹ, Úc, Canada và Đài Loan... khẳng
                            định đẳng cấp Quốc tế của mình.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <!-- end-->
    <section class="section3_ab2">
        <div class="box box-img">
            <img src="./assets/images/backgrounds//5ee9c0739a2f9c474263fa1feb3f829d.jpg" alt="">
        </div>
        <div class="box box-text">
            <h2 class="title-main white">Hình ảnh thương hiệu mới</h2>
            <div class="des-main">
                <p>Với định hướng phát triển mới, Ban lãnh đạo cùng toàn thể Cán bộ Công nhân viên Công ty Cổ
                    phần Nước khoáng Purita đang nỗ lực không ngừng để khẳng định lại vị thế tiên phong của
                    thương hiệu Việt vốn đã được người tiêu dùng tin tưởng yêu mến suốt hơn 80 năm qua.</p>
                <p>Song hành với việc tái cơ cấu lại bộ máy hoạt động, Purita còn mạnh dạn đầu tư, đổi mới công
                    nghệ, nhập khẩu dây chuyền sản xuất tự động và tiên tiến nhất từ Mỹ, Ba Lan nhằm đáp ứng nhu
                    cầu ngày càng cao của khách hàng. Các tiêu chí “An toàn vệ sinh và chất lượng” luôn là mối
                    quan tâm hàng đầu của Purita. Để sản phẩm đến với người tiêu dùng có chất lượng tốt nhất,
                    Công ty đã đi đầu trong việc xây dựng hệ thống quản lý chất lượng theo tiêu chuẩn quốc tế.
                </p>
                <p>Nước khoáng Purita đã được đăng ký chất lượng sản phẩm với cơ quan Quản lý Dược phẩm và Lương
                    thực Hoa Kỳ (FDA), và đã được công nhận sản phẩm đạt tiêu chuẩn chất lượng xuất khẩu sang
                    Hoa Kỳ.
                </p>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <!-- end -->
    <section class="section5_ab2" id="phattrienbenvung">
        <img src="./assets/images/backgrounds//e257016e4c93fed888d658a52e8c11d2.png" alt="" class="bottle">
        <div class="text-w">
            <h2 class="title-main blue">Phát triển bền vững</h2>
            <div class="des-main">
                <p>Năm 1928, các nhà khoa học Pháp đã phát hiện chất lượng tuyệt hảo của nguồn suối khoáng
                    Purita tại khu vực huyện Tuy Phong - tỉnh Bình Thuận. Từ đó, sản phẩm nước khoáng Vichy –
                    Purita đã ra đời và chiếm lĩnh thị phần lớn nhất tại thị trường Việt Nam lúc bấy giờ. Không
                    dừng ở đó, nước khoáng Purita còn xuất khẩu đi thị trường các nước khó tính như Mỹ, Úc,
                    Canada, Đài Loan,... và sớm khẳng định đẳng cấp Quốc tế của mình.</p>
                <p>Tuy nhiên, không phải ai cũng biết Purita là loại nước khoáng duy nhất ở Việt Nam được các
                    chuyên gia người Pháp nghiên cứu và đánh giá nguồn khoáng này sánh ngang với loại nước
                    khoáng Vichy nổi tiếng trên toàn thế giới. </p>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <!-- end -->
</div>