<div class="content-wrapper">
    <style type="text/css">
        .banner {
            background: url(./assets/images/backgrounds/b3d4466e6d0fa9507dadfa65f2785e00.jpg) no-repeat top center;
            background-size: cover;
        }
    </style>
    <section class="section1_news section-top banner ">
        <div class="text-w">
            <h2 class="title-main white">TIN TỨC VÀ SỰ KIỆN</h2>
        </div>
    </section>
    <div class="clear"></div> <!-- end-section1_news -->
    <section class="section2_news row">
        <div class="container">
            <div class="block1">
                <div class="title">Tin tức mới nhất</div>
                <div class="row">
                    <div class="col-sm-6 item">
                        <a href="tin-tuc-su-kien/100-cap-ve">
                            <img class="cover" src="./assets/images/backgrounds/44c8e40931580eb3ef63da9c6feaf29b.jpg">
                        </a>
                        <div class="wrap-content">
                            <div class="date">18/11/2021</div>
                            <a class="name" href="tin-tuc-su-kien/100-cap-ve">Nước
                                khoáng thiên nhiên bổ sung ga - Purita - TCCS 02:2021/VH103 - TCB: 002/VHW/2021
                                - Thông ...</a>
                        </div>
                    </div>
                    <div class="col-sm-6 item">
                        <a href="tin-tuc-su-kien/100-cap-ve">
                            <img class="cover" src="./assets/images/backgrounds/946a65e6744c3ad1194b09f6dd91bcf0.jpg"
                                alt="">
                        </a>
                        <div class="wrap-content">
                            <div class="date">24/09/2016</div>
                            <a class="name" href="tin-tuc-su-kien/100-cap-ve">Tham
                                gia Music show Galaxy J7 Prime nhận quà từ nước khoáng quý Purita</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block2 article-w">
                <div class="title-tab"><a class="active">Sự kiện</a>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 item">
                        <a href="tin-tuc-su-kien/100-cap-ve">
                            <img class="cover" src="./assets/images/backgrounds/946a65e6744c3ad1194b09f6dd91bcf0.jpg"
                                alt="">
                        </a>
                        <div class="wrap-content">
                            <a class="name" href="tin-tuc-su-kien/100-cap-ve">Tham
                                gia Music show Galaxy J7 Prime nhận quà từ nước khoáng quý Purita</a>
                            <div class="date">24/09/2016</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 item">
                        <a href="tin-tuc-su-kien/100-cap-ve">
                            <img class="cover" src="./assets/images/backgrounds/edf9aba9cdfdf01364a11b96ac3a87a1.jpg"
                                alt="">
                        </a>
                        <div class="wrap-content">
                            <a class="name" href="tin-tuc-su-kien/100-cap-ve">100
                                cặp
                                vé tới Blue Christmas Prom 2016 từ Purita</a>
                            <div class="date">24/12/2016</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 item">
                        <a href="tin-tuc-su-kien/100-cap-ve">
                            <img class="cover" src="./assets/images/backgrounds/b30d80b70e04173035eb70cc9e33d953.jpg"
                                alt="">
                        </a>
                        <div class="wrap-content">
                            <a class="name" href="tin-tuc-su-kien/100-cap-ve">Purita
                                hân hạnh là nước khoáng của Hoa Hậu Việt Nam</a>
                            <div class="date">15/09/2016</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <!-- end-section2_news -->
</div>