<div class="content-wrapper">
    <style type="text/css">
        .banner {
            background: url(./assets/images/backgrounds/b3d4466e6d0fa9507dadfa65f2785e00.jpg) no-repeat top center;
            background-size: cover;
        }
    </style>
    <section class="section1_news section-top banner ">
        <div class="text-w">
            <h2 class="title-main white">TIN TỨC VÀ SỰ KIỆN</h2>
        </div>
    </section>
    <div class="clear"></div> <!-- end-section1_news -->
    <section class="section2_news row">
        <div class="container">
            <div class="block1">
                <div class="title">Tin tức mới nhất</div>
                <div class="row">
                    <div class="col-sm-6 item">
                        <a href="tin-tuc-su-kien/purita-tai-tro-cho-hoi-thi-ren-luyen-than-the-tp-thu-dau-mot">
                            <img class="cover" src="./assets/images/news/nha-tai-tro-viet-da/IMG_0617.JPG">
                        </a>
                        <div class="wrap-content">
                            <div class="date">29/04/2012</div>
                            <a class="name" href="tin-tuc-su-kien/purita-tai-tro-cho-hoi-thi-ren-luyen-than-the-tp-thu-dau-mot">
                                Purita tài trợ cho hội thi toàn dân rèn luyện thân thể Tp. Thủ Dầu Một
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 item">
                        <a href="tin-tuc-su-kien/purita-tai-tro-cho-hoi-thi-ren-luyen-than-the-tp-thu-dau-mot">
                            <img class="cover" src="./assets/images/backgrounds/946a65e6744c3ad1194b09f6dd91bcf0.jpg"
                                alt="">
                        </a>
                        <div class="wrap-content">
                            <div class="date">24/09/2016</div>
                            <a class="name" href="tin-tuc-su-kien/purita-tai-tro-cho-hoi-thi-ren-luyen-than-the-tp-thu-dau-mot">
                                Purita tài trợ cho hội thi toàn dân rèn luyện thân thể Tp. Thủ Dầu Một
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block2 article-w">
                <div class="title-tab"><a class="active">Sự kiện</a>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 item">
                        <a href="tin-tuc-su-kien/purita-tai-tro-cho-hoi-thi-ren-luyen-than-the-tp-thu-dau-mot">
                            <img class="cover" src="./assets/images/backgrounds/946a65e6744c3ad1194b09f6dd91bcf0.jpg"
                                alt="">
                        </a>
                        <div class="wrap-content">
                            <a class="name" href="tin-tuc-su-kien/purita-tai-tro-cho-hoi-thi-ren-luyen-than-the-tp-thu-dau-mot">
                                Purita tài trợ cho hội thi toàn dân rèn luyện thân thể Tp. Thủ Dầu Một
                            </a>
                            <div class="date">24/09/2016</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 item">
                        <a href="tin-tuc-su-kien/purita-tai-tro-cho-hoi-thi-ren-luyen-than-the-tp-thu-dau-mot">
                            <img class="cover" src="./assets/images/backgrounds/edf9aba9cdfdf01364a11b96ac3a87a1.jpg"
                                alt="">
                        </a>
                        <div class="wrap-content">
                            <a class="name" href="tin-tuc-su-kien/purita-tai-tro-cho-hoi-thi-ren-luyen-than-the-tp-thu-dau-mot">
                                Purita tài trợ cho hội thi toàn dân rèn luyện thân thể Tp. Thủ Dầu Một
                            </a>
                            <div class="date">24/12/2016</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 item">
                        <a href="tin-tuc-su-kien/purita-tai-tro-cho-hoi-thi-ren-luyen-than-the-tp-thu-dau-mot">
                            <img class="cover" src="./assets/images/backgrounds/b30d80b70e04173035eb70cc9e33d953.jpg"
                                alt="">
                        </a>
                        <div class="wrap-content">
                            <a class="name" href="tin-tuc-su-kien/purita-tai-tro-cho-hoi-thi-ren-luyen-than-the-tp-thu-dau-mot">
                                Purita tài trợ cho hội thi toàn dân rèn luyện thân thể Tp. Thủ Dầu Một
                            </a>
                            <div class="date">15/09/2016</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <!-- end-section2_news -->
</div>